@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--white-color: hsl(0, 0%, 100%);
	--black-color: hsl(0, 0%, 0%);

	--body-font: "Poppins", sans-serif;
	--h1-font-size: 1.75rem;
	--normal-font-size: 1rem;
	--small-font-size: .813rem;

	--font-medium: 500;
}

.text-stroke {
	-webkit-text-stroke: 1.1px rgb(253, 186, 116);
	-webkit-background-clip: text;
}